.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.conatiner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculorBody{  
    width: 300px;
    height: 400px;
    border:2px solid #e9e7e8;
    background-color: #4e4e4e;
    padding:15px;
    border-radius: 10px;
}
.calculatorHeader{
  width: 290px;
    background-color: #d1e6aa;
    height: 60px;
    border-radius: 10px;
    margin-left: 5px;
}
.calculatorHeader input{
    width: 282px;
    height: 60px;
    border: 0px;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    cursor: initial;
    border-radius: 10px;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    margin-left: 3px;
    color: #343839;
}
.calculatorbuttonBody{
  flex-wrap: wrap;
  margin-top: 5px;
}
.valueBtn{
    width: 65px;    
    height: 55px;
    margin: 5px;
    border-radius: 5px;
    background-color: #7f7f7f;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.operatorBtn{
  background-color: #60ccd5;
}
.equalSign{
  background-color: #eb5c6a;
}
.clearDiv{
  display: flex;
    margin-top: 15px;
    justify-content: flex-end;
}